# Data Strcts + Objects 

#Data Stucture or Object ?

#Storing the Data in our Computer Memory

In [1]:
# Integer 

# Whole number 

a = 10 
b = 45

In [2]:
a +b

55

In [4]:
# TO identify the type of data we can use Type(_) function


type(a)

int

In [16]:
# Floating numbers / Flaot 

c = 7.1
d = 8.6
e = 7.0

In [17]:
c + d

15.7

In [15]:
type(e)

int

In [19]:
name = "Raja Virani"
name1 = "kumara veera venkatesh"

In [20]:
name1

'kumara veera venkatesh'

In [23]:
name + " space " +name1

'Raja Virani space kumara veera venkatesh'

In [24]:
type(name)

str

# List

In [25]:
# A list is a Container which can hold different data types in it

In [28]:
lst = ["Sai", 10, 7186, 126.43, [1,2,3]]

In [29]:
lst

['Sai', 10, 7186, 126.43, [1, 2, 3]]

In [30]:
lst

['Sai', 10, 7186, 126.43, [1, 2, 3]]

In [40]:
lst[0]

'Sai'

In [38]:
lst[4][2]

3

In [42]:
# List is a complex data type which is 
# derived from LIST Object

# List elements are always stored in orderd sequence of 
#Number starting from  0

# Every Object will have some Methods, 
# lets see List Object's Methods

In [43]:
lst.append("Kiran")  # append actually adds the values in the end of the list

In [44]:
lst

['Sai', 10, 7186, 126.43, [1, 2, 3], 'Kiran']

In [45]:
lst.index(10)

1

In [48]:
lst[-1]

'Kiran'

In [49]:
lst[-5]

10

In [50]:
lst[1]

10

In [53]:
lst[-2][1]

2

# DICT  - Dictionaries

In [54]:
# This is a KEY Value pair data strcutre, it is complex, 
# IT is an object of DICT class in Python 

# Data is strored like -> 

#  {"KEY": "Value" }

In [55]:
dit = {"name":"Saikiran", "age":"30",
       "number":123456,"email":"sai@letsupgrade.in"}

In [56]:
dit

{'name': 'Saikiran',
 'age': '30',
 'number': 123456,
 'email': 'sai@letsupgrade.in'}

In [71]:
# retriving a Value from Dict 

dit.get('name')

In [60]:
dit["name"]

'Saikiran'

In [64]:
dit.items()

dict_items([('name', 'Saikiran'), ('age', '30'), ('number', 123456), ('email', 'sai@letsupgrade.in')])

In [65]:
dit.keys()

dict_keys(['name', 'age', 'number', 'email'])

In [67]:
dit.pop("name")

'Saikiran'

In [68]:
dit

{'age': '30', 'number': 123456, 'email': 'sai@letsupgrade.in'}

In [69]:
# adding a new element t dict 
dit["School"] = "KVS"

In [70]:
dit

{'age': '30', 'number': 123456, 'email': 'sai@letsupgrade.in', 'School': 'KVS'}

In [72]:
type(dit)

dict

In [74]:
# Sets are used for storing uniqune values in the Python, 
# Sets are complex data struct. 
# Sets are a Class in Python, whos object can be derived
# Set are mostly used for finidng UNION, disjoin and finding commons and uncommons in tthe python data type

In [75]:
st = {"sai","letsupgrade",1,2,3,4,4,5,6,5,5}

In [76]:
st

{1, 2, 3, 4, 5, 6, 'letsupgrade', 'sai'}

In [77]:
st1 = {"sai",1}

In [78]:
st1.issubset(st)

True

# Tuple

In [80]:
#Tuples are ordered immuatable collection of objects 
# Once the data is written its in that for ever
# it cant be changed 
# Example ?

In [81]:
tup = ("sai","@","Letsupgrade.in")

In [82]:
tup

('sai', '@', 'Letsupgrade.in')

In [83]:
tup.count("@")

1

In [84]:
tup.index("Letsupgrade.in")

2

In [85]:
# Boolean

In [86]:
# This is Basic Data Type which stores TRUE or FALSE

In [87]:
abc = True

In [88]:
xyz = False